<% if session[:balance] > 2000 %>
  <h2><%= "Farewell #{name}!!! Are you up to Vegas now?" %></h2>
<% else %>
  <h2><%= "#{name}, you should train more. #{name} better restart the game!" %></h2>

<% end %>


<br/>
Start over -> <a href="/">here</a>!